<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title id="Title">Completa tu perfil</ion-title>


  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="avatar">
    <ion-avatar (click)="uploadAvatar()">
      <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" />
      <ng-template #placeholder_avatar>
        <div class="no-avatar">
          <p>Pincha para <br>Modificar</p>
        </div>
      </ng-template>
    </ion-avatar>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-button fill="clear" expand="full" (click)="addPasajero()">Actualizar Perfil</ion-button>
</ion-content>
