<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-avatar id="Avatar">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <p id="Nombre">*Nombre*</p>
    <p id="Usuario">@*Usuario*</p>
    <p id="Edad">*Edad* Años</p>
    <p id="Rut">*Rut*</p>
    <p id="Numero">+56 *Celular*</p>
    <p id="Direccion">*direccion*</p>
    <p id="Texto-extra">Informacion privada solo la puedes ver tu</p>
  </div>
  <ion-button id="btoEditar" expand="full" type="button" fill="clear" href="#">Editar perfil</ion-button>
</ion-content>
