<ion-header>
  <ion-toolbar>
    <ion-title>Registrate en nuestra app!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email" [(ngModel)]="datos.correo"></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Formato Email no válido</ion-note>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password" [(ngModel)]="datos.contra"></ion-input>
      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">El password debe contener al menos 6 caracteres</ion-note>
    </ion-item>
    
  </form>
  <ion-item>
    <ion-label>¿Eres conductor?</ion-label>
    <ion-select [(ngModel)]="datos.perfil" >
      <ion-select-option value="Conductor">Tengo auto</ion-select-option>
      <ion-select-option value="Pasajero">No tengo auto</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="datos.name"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Apellido Paterno</ion-label>
    <ion-input type="text"  [(ngModel)]="datos.apellido_paterno"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Apellido Materno</ion-label>
    <ion-input type="text"  [(ngModel)]="datos.apellido_materno"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Rut</ion-label>
    <ion-input type="text"  [(ngModel)]="datos.rut"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Edad</ion-label>
    <ion-input type="number"  [(ngModel)]="datos.edad"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Direccion</ion-label>
    <ion-input type="text"  [(ngModel)]="datos.direccion"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Nombre Usuario</ion-label>
    <ion-input type="text"  [(ngModel)]="datos.username"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Telefono</ion-label>
    <ion-input type="number"  [(ngModel)]="datos.telefono"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Genero</ion-label>
    <ion-select [(ngModel)]="datos.genero">
      <ion-select-option value="Masculino">Masculino</ion-select-option>
      <ion-select-option value="Femenino">Femenino</ion-select-option>
    </ion-select>
  </ion-item>
  
  




  <ion-button expand="full" type="button" (click)="registrar()">Crear cuenta</ion-button>
</ion-content>
