#informacion
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    //rgb(209, 152, 46);
}

#label
{
    color: rgb(209, 152, 46);;
    font-size: large;
    font-weight: bold;
}

#Title
{
    text-align: center;
    font-weight: bold;
}

#A1
{
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    position: relative;
    margin: 0em;
    color: rgb(195, 196, 197);
}

#A2
{
    text-align: center;
    position: relative;
    margin-bottom: 2em;
    color: rgb(126, 127, 128);
    font-size: x-small;
}