<ion-header>
  <ion-toolbar>
    <ion-title>Patente: {{Viaje.patente}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Valor: {{Viaje.valor}}</h3>
  <h3>Desde: {{Viaje.desde}}</h3>
  <h3>Hasta: {{Viaje.hasta}}</h3>
  <h3>Conductor: {{Viaje.conductor}}</h3>
  <h3>Patente: {{Viaje.patente}}</h3>
  <h3>Capacidad: {{Viaje.capacidad}} de: {{Viaje.espacio}}</h3>
  <p>Recuerda especificar la hora de salida y desde donde asi a tus compañeros le facilitas la llegada a tu vehiculo ademas de que agiliza tu salida.</p>
  <h3>Descripcion: {{Viaje.descripcion}}</h3>
  
</ion-content>
