<ion-header>
  <ion-toolbar>
    <ion-title id="Title">Viaje: {{Viaje.patente}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="informacion">
    <p id="label">Valor:</p>
    <p id="A1">{{Viaje.valor}}</p>
    <p id="label">Conductor: </p>
    <p id="A1">{{Viaje.conductor}}</p>
    <p id="label">Desde: </p>
    <p id="A1">{{Viaje.desde}}</p>
    <p id="label">Hasta: </p>
    <p id="A1">{{Viaje.hasta}}</p>
    <p id="label">Patente: </p>
    <p id="A1">{{Viaje.patente}}</p>
    <p id="label">Capacidad: </p>
    <p id="A1">{{Viaje.capacidad}} de: {{Viaje.espacio}}</p>
    <p id="label">Descripcion: </p>
    <p id="A1">{{Viaje.descripcion}}</p>
    <br><br><br>
    <p id="A2">Recuerda especificar la hora de salida y desde donde asi a tus compañeros le facilitas la llegada a tu vehiculo ademas de que agiliza tu salida.</p>
  </div>
</ion-content>
