<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title id="Title">Sobre nosotros</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="Preguntas">
    <div>
      <h1 id="titulo">Quienes somos?</h1>
      <div id="explicacion">
        <p id="expliacion-texto">Somos una pequeña empresa que busca una manera de hacerse un nombre en el rubro tecnologico 
          con proyectos como este, que buscan no solo el progreso tecnologico sino a su ves buscar el progreso cultural.</p>
      </div>
    </div>
    <br>
    <div>
      <h1 id="titulo">Porque fue creada la App?</h1>
      <div id="explicacion">
        <p id="expliacion-texto">Esta aplicacion web fue creada con la intencion de mejorar 
          la manera de transporte en el ambito estudiantil tanto para los alumnos como para los profesores y docentes de la institución.</p>
      </div>
    </div>
    <br>
    <div>
      <h1 id="titulo">Cual es nuestro objetivo?</h1>
      <div id="explicacion">
        <p id="expliacion-texto">Nuestro objetivo principal con esta app es ir mejorando progresivamente cada ambito y punto que se pueda hasta llegar a un
          punto que la app sea algo tanto imprescindible como cotidiano.
        </p>
      </div>
    </div>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Conocenos un poco más!</ion-card-title>
      <ion-card-subtitle>Nuestro Equipo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/img/1.jpg" />
          </ion-thumbnail>
          <ion-label>Roberto Villa</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/img/2.jpg" />
          </ion-thumbnail>
          <ion-label>Juan del rio</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/img/3.jpg" />
          </ion-thumbnail>
          <ion-label>Pedro de mar</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../../assets/img/4.jpg" />
          </ion-thumbnail>
          <ion-label>Carlos del charco</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
