<ion-header>
  <ion-toolbar>
    <ion-title>formulario-registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-item *ngFor="let conductor of conductor" (click)="openDetailConductor(conductor)">
        <ion-avatar slot="start">
         
        </ion-avatar>
        <ion-label>
          <h2>{{conductor.name}} {{conductor.paternal_lastname}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button color="success" (click)="addConductor()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>






</ion-content>
