ion-title{
    text-align: center;
}
ion-card{
    text-align: center;
}
#check{
    justify-content: center;
    align-items: center;
}
.logo{
    border-radius: 5px;
    height: 7em;
    width: 7em;
}