<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="Title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <img class="logo" src="../../../assets/img/Logo feo.png" alt="Logo">
    <ion-item>
      <ion-input type="email" placeholder="Email..." formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty|| email?.touched)&& email?.errors">Formato email no va</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password..." formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password?.dirty|| password?.touched)&& password?.errors">La contraseña debe contener al menos 6 caracteres</ion-note>
    </ion-item>

    <ion-button id="btoLogin" expand="full" type="submit" fill=“clear” [disabled]="!credentials.valid">Login</ion-button>
    <ion-button id="btoCreateAccount" expand="full" type="button" fill=“clear”  (click)="openRegisterUser()">Crear cuenta</ion-button>

  </form>

</ion-content>