ion-title{
    text-align: center;
}

#Title
{
    font-weight: bold;
}

ion-card{
    text-align: center;
}
#check{
    justify-content: center;
    align-items: center;
}

#btoLogin{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    width: 60%;
    margin: 0 auto;
    margin-top: 30%;
    border: 3px solid rgb(209, 152, 46);
    border-radius: 5px;

}

#btoCreateAccount{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    width: 60%;
    margin: 0 auto;
    margin-top: 3%;
    border: 3px solid rgb(13, 43, 78);
    border-radius: 5px;

}

.logo{
    position: relative;
    margin-left: 42.5%;
    margin-block-end: 10.5%;
    border-radius: 10px;
    height: 3em;
    width: 3em;
    align-items: center;
    text-align: center;
}
form{
    margin-top: 4rem;
}