<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  
  <ion-card>
    <ion-card-header>
      <img src="" alt=""/>
      <ion-card-subtitle>Bienvenido</ion-card-subtitle>
      <ion-card-title>@usuario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Te damos la bienvenida a TeLlevoAPP,
      una aplicacion que busca la ayuda de la
      comunidad para simplificar el transporte
      de los alumnos en el dia a dia
    </ion-card-content>
  </ion-card>


</ion-content>
