<ion-header>
  <ion-toolbar>
     <ion-back-button></ion-back-button>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="register()" [formGroup]="credentials">

    <ion-item>
      <ion-input type="nombre" placeholder="Nombre..." formControlName="Nombre"></ion-input>
      <ion-note slot="error" *ngIf="(nombre?.dirty|| nombre?.touched)&& nombre?.errors">Porfavor ingrese su nombre</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="apellidoPaterno" placeholder="Apellido Paterno..." formControlName="apellidoPaterno"></ion-input>
      <ion-note slot="error" *ngIf="(apellidoPaterno?.dirty|| apellidoPaterno?.touched)&& apellidoPaterno?.errors">Porfavor ingrese su apellido paterno</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="apellidoMaterno" placeholder="Apellido Materno..." formControlName="apellidoMaterno"></ion-input>
      <ion-note slot="error" *ngIf="(apellidoMaterno?.dirty|| apellidoMaterno?.touched)&& apellidoMaterno?.errors">Porfavor ingrese su apellido materno</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="rut" placeholder="Rut..." formControlName="rut"></ion-input>
      <ion-note slot="error" *ngIf="(rut?.dirty|| rut?.touched)&& rut?.errors">Porfavor ingrese su rut</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="Email..." formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty|| email?.touched)&& email?.errors">Formato email no va</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password..." formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password?.dirty|| password?.touched)&& password?.errors">La contraseña debe contener al menos 6 caracteres</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="telefono" placeholder="Telefono..." formControlName="telefono"></ion-input>
      <ion-note slot="error" *ngIf="(telefono?.dirty|| telefono?.touched)&& telefono?.errors">La contraseña debe contener al menos 8 numeros</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="fechaNacimiento" placeholder="DD/MM/AAAA" formControlName="fechaNacimiento"></ion-input>
      <ion-note slot="error" *ngIf="(fechaNacimiento?.dirty|| fechaNacimiento?.touched)&& fechaNacimiento?.errors">Ingrese una fehca correcta</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="direccion" placeholder="direccion..." formControlName="direccion"></ion-input>
      <ion-note slot="error" *ngIf="(direccion?.dirty|| direccion?.touched)&& direccion?.errors">Ingrese su direccion</ion-note>
    </ion-item>
    
    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
    <ion-button expand="full" type="button" (click)="register()" href="/registrarse">Crear cuenta</ion-button>

  </form>


</ion-content>
