#divWeatherMain{
   border-radius: 10px;
   width: 80%px;
   height: 80px;
   margin: 0;
   background: rgb(0,0,0);
   background: linear-gradient(500deg,rgb(4, 4, 29)50%,rgb(4, 4, 29)); 
   color: white;
   font-family: 'Segeo UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grados{
    display: block;
    width: fit-content;
    font-size: 40px;
    margin-left: 14%;
}
.minimo-maximo{
    display: block;
    width: fit-content;
    margin-left: 10%;
}
.lugar{
    display: block;
    width: fit-content;
    margin-left: 50%;
    margin-top: -3.5em;
}
.humedad{
    display: block;
    width: fit-content;
    margin-left: 50%;
    margin-top: 0%;
    font-size: 12px;
}